
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <h4 class="text-danger ml-3 mb-4">CHI TIẾT GIẢNG VIÊN</h4>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="~/Image/hocvien1.jpg" style="width: 300px; height: 400px;" />
        </div>
        <div class="col-md-6 ml-3">
            <div class="row">               
                <h3>ĐẶNG NGỌC YẾN</h3>                
            </div>
            <div class="row mt-3">
                <div class="col-md-4 font-weight-bold">Tuổi</div>
                <div class="col-md-8">25</div>
            </div>
            <div class="row mt-3">
                <div class="col-md-4 font-weight-bold">Số điện thoại</div>
                <div class="col-md-8">0965520566</div>
            </div>
            <div class="row mt-3">
                <div class="col-md-4 font-weight-bold">Email</div>
                <div class="col-md-8">thuyvtt620@gmial.com</div>
            </div>
            <div class="row mt-3">
                <div class="col-md-4 font-weight-bold">Mô tả chung</div>
                <div class="col-md-8">* Giảng viên dạy Múa.<br />
                                                   * Với kinh nghiệm giảng dạy trên 10 năm<br />
                                                   * Với kinh nghiệm giảng dạy trên 10 năm<br />
                                                   * Tận tâm, tân tụy với nghề...<br />
                </div>
            </div>
            <div class="row mt-3"> 
                <div class="col-md-4 font-weight-bold">Mô tả chi tiết</div>
                <div class="col-md-8">
                    * Học vị: Giảng viên Múa<br />

                    * Đơn vị công tác: Cao đẳng múa Việt Nam <br />

                    * Kinh nghiệm giảng dạy:10 năm<br />

                    * Tóm tắt quá trình dạy và học:<br />
                    1. 2002: Tốt nghiệp Cao Đẳng Nghệ Thuật Hà Nội.<br />

                    2. 2008: Tốt nghiệp Cao Đẳng Múa Việt Nam – chuyên ngành diễn viên.<br />

                    3. 2011: Tốt nghiệp Học viện Múa Việt Nam – chuyên ngành huấn luyện.<br />

                    * Hoạt động khác: Tham gia hoạt động cộng đồng<br />
                </div>
            </div>
        </div>
    </div>
</div>



