
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <h4 class="text-danger ml-3 mb-4">ĐĂNG KÍ TƯ VẤN</h4>
    </div>
    <div class="row">
        <div class="form-group col-md-6 padd-0">
            <input class="form-control" placeholder="Nhập tên khóa học" />
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary">
                <i class="fa fa-search"></i>
                Tìm kiếm
            </button>

            <button class="btn btn-success" data-toggle="modal" data-target="#addSubject">
                <i class="fa fa-plus"></i>
                Khóa học
            </button>
        </div>

    </div>

    <div class="cus-body">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>

                    <th class="text-center">Tên khóa học</th>
                    <th class="text-center">Danh mục khóa học</th>
                    <th class="text-center">Mô tả</th>
                    <th class="text-center">Ảnh đại diện</th>
                    <th class="text-center">Ngày tạo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center tr-detail-item" style="cursor: pointer; color: #1b6aaa; width: 165px;">Vẽ màu nước</td>
                    <td class="text-center">Vẽ</td>
                    <td class="text-center">Vẽ màu nước</td>
                    <td class="text-center">link ảnh địa diện</td>
                    <td class="text-center">

                        <i class="fa fa-share" title="Xem chi tiết" style="color: lightgreen;"></i>
                        &nbsp; &nbsp;<i class="fa fa-edit fa-sm " title="Sửa giáo viên" style="color: blue;" data-toggle="modal" data-target="#editSubject"></i>
                        &nbsp; &nbsp;<i class="fa fa-trash" title="Xóa giáo viên" style="color: red;"></i>
                    </td>
                </tr>
        </table>
    </div>
</div>


<!--Modal Add User-->
<div class="modal fade" id="addSubject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm người dùng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Tên khóa học</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" type="text" />
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-4">
                            <label>Danh mục</label>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control" id="sex">
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-4">
                            <label>Mô tả</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" type="text" />
                        </div>
                    </div>



                    <div class="row mt-3">
                        <div class="col-md-4">
                            <label>Link ảnh đại diện</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <label>Link ảnh học viên</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <label>Link video học viên</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" type="text" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success"><i class="fa fa-save"></i>Thêm mới</button>
            </div>
        </div>
    </div>
</div>


<!--Modal Edit user -->
<div class="modal fade" id="editSubject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sửa giảng viên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Tên người dùng</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" type="text" />
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-4">
                            <label>Email</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" type="number" />
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-4">
                            <label>Chức vụ</label>
                        </div>
                        <div class="col-md-8">
                            <select class="form-control" id="sex">
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-4">
                            <label>Số điện thoại</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" type="text" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success"><i class="fa fa-save"></i>Thêm mới</button>
                </div>
            </div>
        </div>
    </div>







